#blogDestacado  {
        box-shadow: 5px 8px 12px #0F4572;
    }

.blog-secundario1  {
        box-shadow: 5px 8px 12px #0F4572;
    }

.blog-secundario2  {
        box-shadow: 5px 8px 12px #0F4572;
    }

.blog-secundario3  {
        box-shadow: 5px 8px 12px #0F4572;
    }

.portfolio1 {
    box-shadow: 5px 8px 12px #F6B1C7;
    }

.portfolio2 {
    box-shadow: 5px 8px 12px #FFEF7E;
    }

.portfolio3 {
    box-shadow: 5px 8px 12px #D492DE;
    }

