

@import "sombras";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

/* ------INDEX------ */

/* DESKTOP */
@media (min-width: 1024px){

    #grilla-index {
       display: grid;
       grid-template-areas:
          "header header header"
          "anterior anterior anterior"
          "banner banner banner"
          "footer footer footer";
       grid-template-rows: .8fr 8fr .5fr ;
       grid-template-columns: 2fr 2fr 2fr;
       height: 100vh;
       margin: 0;
       grid-row-gap: 5px;
       grid-column-gap: 5px;
    }
 
    header {
       grid-area: header;
    }
 
    aside#home {
       grid-area: anterior;
    }
 
    section#banner {
       grid-area: banner;
    }
  
    footer {
       grid-area: footer;
       justify-content: center;
    }
 
 
    /* Estilos */
 
    nav {
        display: grid;
        display: flex;
        font-family: 'Comfortaa', sans-serif;
        src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
        font-weight: bolder;
 
             .container-fluid {
                 display:block;
                 flex-direction: column;
                 background-color:white;
                 display: flex;          
             }
 
             .navbar-brand {
                 align-self:flex-start;
                 height: 20px;
                 margin-left: 5%;
             }
 
             a {
                 text-decoration: none;
                 color: gray;
                 padding: 10px;
                 &:hover {  
                 background-color:#DEE2FF;
                 color: black;
                 }
             }
         } 
 
    .fondo-imagen {
       background-image: url(imagenes/portada_web.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       background-color: none;
       height: 600px;
    }
    
    .text-home {
       display: inline-block;
       margin-left: 7%;
       margin-top: 15%;      
       
    }
    
    h4 {      
       color: gray;
       margin: 0;
       font-weight: bolder; 
    }
 
    h3 {      
       color: #993bd7;
       letter-spacing: 4px;
       font-weight: bolder;           
    }
 
    p  {
       font-size: 16px;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/Comfortaa.ttf);
       text-align:left;
       line-height: 25px;
       position: absolute;
       color: gray;            
    }
 
    .btn-primary {
       background-color:#FFFF9E;
       color: black;
       outline-color: black;
       &:hover { 
            background-color:black;
            color: white;
        }
    }
 
    #banner {
       display: flex;
       height: auto;
       justify-content: space-evenly;
       align-self: center;
       background-color:#F3E3FC;
       padding-bottom: 5%;
       padding-top: 2%;
 
    }
 
    .customer-ex {
       width: 100px;
       height: 100px;
       padding-top: 10px;
       margin: 20px;
       background-image: url(imagenes/customer_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    
    }
 
 
    .digital-ex {
       width: 100px;
       height: 100px;
       padding-top: 10px;
       margin: 20px;
       background-image: url(imagenes/digital_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    }
 
    .employ-ex {
       width: 100px;
       height: 100px;
       padding-top: 10px;
       margin: 20px;
       background-image: url(imagenes/emply_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    }
 
    #texto-banner {
       font-size: 16px;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/Comfortaa.ttf);
       color:#048DBE;
       margin-top: 100px;
       text-align: center;
       justify-content: center;
       font-weight: bolder;     
       
    
    }
 
    footer {
       display: flex;
       background-color: #634478;
       color: #DEE2FF;
       padding: 12px;
       text-align: center;
       font-size:small;
       font-weight:bolder;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }
 }
 
 
 /* TABLET */
 
 @media (min-width: 480px) and (max-width:1023px) {
    #grilla-index {
       display: grid;
       grid-template-areas:
       "header header header"
       "anterior anterior anterior"
       "banner banner banner"
       "footer footer footer ";
       grid-template-rows: auto;
       grid-template-columns: 2fr 3fr 2fr;
       height: 100vh;
       margin: 0;
       grid-row-gap: 10px;
       grid-column-gap: 10px;
    }
 
    header {
       grid-area: header;
    }
 
    aside#home {
       grid-area: anterior;
    }
 
    section#banner {
       grid-area: banner;
    }
  
    footer {
       grid-area: footer;
       justify-content: center;
    }
 
 
    /* Estilos */
 
    a {
       text-decoration: none;
       color: gray;
       padding: 10px;
    }
 
    .nav-link:hover {
       color: black;
    }
 
    nav {
       display: grid;
       display: flex;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
       font-weight: bolder;
       background-color: none;
    }
 
    .container-fluid {
       display:block;
       flex-direction: column;
       display: flex;
 
    }
 
    .navbar-brand {
       align-self:flex-start;
       height: 20px;
       margin-left: 5%;
       background-color: none;
    }
 
    .fondo-imagen {
       background-image: url(imagenes/portada_web.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       background-color: none;
       height: 600px;
    }
    
    .text-home {
       display: inline-block;
       margin-left: 7%;
       margin-top: 15%;      
       
    }
    
    h4 {      
       color: gray;
       margin: 0;
       font-weight: bolder; 
    }
 
    h3 {      
       color: #993bd7;
       letter-spacing: 4px;
       font-weight: bolder;           
    }
 
    p  {
       font-size: 16px;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/Comfortaa.ttf);
       text-align:left;
       line-height: 25px;
       position: absolute;
       color: gray;            
    }
 
    .btn-primary {
       background-color:#FFFF9E;
       color: black;
       outline-color: black;
    }
 
    .btn-primary:hover {
       background-color:black;
       color: white;
    }
 
    #banner {
       display: flex;
       height: auto;
       justify-content: space-evenly;
       align-self: center;
       background-color:#F3E3FC;
       padding-bottom: 5%;
       padding-top: 2%;
 
    }
 
    .customer-ex {
       width: 100px;
       height: 100px;
       padding-top: 10px;
       margin: 20px;
       background-image: url(imagenes/customer_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    
    }
 
 
    .digital-ex {
       width: 100px;
       height: 100px;
       padding-top: 10px;
       margin: 20px;
       background-image: url(imagenes/digital_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    }
 
    .employ-ex {
       width: 100px;
       height: 100px;
       padding-top: 10px;
       margin: 20px;
       background-image: url(imagenes/emply_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    }
 
    #texto-banner {
       font-size: 16px;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/Comfortaa.ttf);
       color:#048DBE;
       margin-top: 100px;
       text-align: center;
       justify-content: center;
       font-weight: bolder;     
       
    
    }
 
    footer {
       display: flex;
       background-color: #634478;
       color: #DEE2FF;
       padding: 12px;
       text-align: center;
       font-size:small;
       font-weight:bolder;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }
 }
 
 /* MOBILE */
 
 @media (max-width:479px) {
    #grilla-index {
       display: grid;
       grid-template-areas:
          "header"
          "anterior"
          "banner"
          "footer";
       grid-template-rows: auto;
       grid-template-columns: auto;
       height: 100vh;
       margin: 0;
       grid-row-gap: 10px;
       grid-column-gap: 10px;
    }
 
    header {
       grid-area: header;
    }
 
    aside#home {
       grid-area: anterior;
    }
 
    section#banner {
       grid-area: banner;
    }
  
    footer {
       grid-area: footer;
       justify-content: center;
    }
 
    /* Estilos */
 
    a {
       text-decoration: none;
       color: gray;
       padding: 10px;
    }
 
    .nav-link:hover {
       color: black;
    }
 
    nav {
       display: grid;
       display: flex;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
       font-weight: bolder;
       background-color: none;
    }
 
    .container-fluid {
       display:block;
       flex-direction: column;
       display: flex;
 
    }
 
    .navbar-brand {
       align-self:flex-start;
       height: 20px;
       margin-left: 5%;
       background-color: none;
    }
 
    .fondo-imagen {
       background-image: url(imagenes/portada_web.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       background-color: none;
       height: 600px;
    }
    
    .text-home {
       display: inline-block;
       margin-left: 7%;
       margin-top: 15%;      
       
    }
    
    h4 {      
       color: gray;
       margin: 0;
       font-weight: bolder; 
    }
 
    h3 {      
       color: #993bd7;
       letter-spacing: 4px;
       font-weight: bolder;           
    }
 
    p  {
       font-size: 16px;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/Comfortaa.ttf);
       text-align:left;
       line-height: 25px;
       position: absolute;
       color: gray;            
    }
 
    .btn-primary {
       background-color:#FFFF9E;
       color: black;
       outline-color: black;
    }
 
    .btn-primary:hover {
       background-color:black;
       color: white;
    }
 
    #banner {
       display: flex;
       height: auto;
       justify-content: space-evenly;
       align-self: center;
       background-color:#F3E3FC;
       padding-bottom: 15%;
       padding-top: 2%;
 
    }
 
    .customer-ex {
       width: 70px;
       height: 70px;
       margin: 20px;
       background-image: url(imagenes/customer_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    
    }
 
 
    .digital-ex {
       width: 70px;
       height: 70px;
       margin: 20px;
       background-image: url(imagenes/digital_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    }
 
    .employ-ex {
       width: 70px;
       height: 70px;
       margin: 20px;
       background-image: url(imagenes/emply_ex.png);
       background-size:contain;
       background-repeat: no-repeat;
       background-position: center;
    }
 
    #texto-banner {
       font-size: 16px;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/Comfortaa.ttf);
       color:#048DBE;
       margin-top: 80px;
       text-align: center;
       justify-content: center;
       font-weight: bolder;     
       
    
    }
 
    footer {
       display: flex;
       background-color: #634478;
       color: #DEE2FF;
       padding: 12px;
       text-align: center;
       font-size:small;
       font-weight:bolder;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }
 }
 



 /* ------BLOG------ */

    /* DESKTOP */
@media (min-width: 1024px){

    #grilla {
        display: grid;
        grid-template-areas:
          "header header header"
          ". destacado ."
          "anterior anterior anterior"
          "form form form"
          "footer footer footer";
        grid-template-rows: .8fr 8fr 4fr 2fr 0.5fr ;
        grid-template-columns: 2fr 2fr 2fr;
        height: 100vh;
        margin: 0;
        grid-row-gap: 5px;
        grid-column-gap: 5px;

            header {
                grid-area: header;
            }
        
            aside#title {
                grid-area: titulo;
            }
        
            section#blogDestacado {
                grid-area: destacado;
            }
        
            section#blogAnterior {
                grid-area: anterior;
            }
        
            aside#formulario {
                grid-area: form;
            }
        
            footer {
                grid-area: footer;
            }
    }
       
    /*Estilos*/

    nav {
       display: grid;
       display: flex;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
       font-weight: bolder;

            .container-fluid {
                display:block;
                flex-direction: column;
                background-color:white;
                display: flex;          
            }

            .navbar-brand {
                align-self:flex-start;
                height: 20px;
                margin-left: 5%;
            }

            a {
                text-decoration: none;
                color: gray;
                padding: 10px;
                &:hover {  
                background-color:#DEE2FF;
                color: black;
                }
            }
        } 

    .blogPpal{
        display: grid;
        color:black;
        height: 480px;
        width: 1000px;
        padding: 20px;
        margin-top: 20px;
        background-image: url(https://debmedia.com/blog/wp-content/uploads/2020/02/customer-centric-1.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    }

    section {
        display: flex;
        height: auto;
        justify-content: space-evenly;
        margin-top: 50px;
        align-self: center;

        @mixin blogs ($width, $height, $padding, 
            $margin, $background-size,
            $background-repeat, $background-position,
            $border-radius) {
                width: $width;
                height: $height;
                padding: $padding;
                margin: $margin;
                background-size: $background-size;
                background-repeat: $background-repeat;
                background-position: $background-position;
                border-radius: $border-radius;            
                }
            .blog-secundario1  {
                @include blogs(300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

            .blog-secundario2 {
                @include blogs(300px,250px,10px,20px,cover,no-repeat,center,20px)
            }
            
            .blog-secundario3 {
                @include blogs(300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

            .blog-secundario1 {
            background-image: url(https://www.caad-design.com/wp-content/uploads/2020/03/customer-journey-featured-image-20200310-caad-retail-design-barcelona.jpg.jpg);
            }
  
            .blog-secundario2 {               
                background-image: url(https://www.questionpro.com/blog/wp-content/uploads/2020/08/Infografia2-customer-service-ideal.jpg);
            }
  
            .blog-secundario3 {
                background-image: url(https://www.questionpro.com/blog/wp-content/uploads/2020/08/Infografia2-customer-service-ideal.jpg);   
            }
        }
    
    .form  {
            background-color: #DEE2FF;
            text-align: center;
            font-size:small;
            font-family: "Comfortaa", sans-serif;
            src: url(/fuentes/Comfortaa/Comfortaa.ttf);
            padding: 1%;
            margin: 0;
    }
    
    

    div {
        .mb-3  {
            display: flex;
            flex-direction: column;
            align-items:center;
            padding: .1%; 
            }       

        .btn-primary {
            background-color:#FFFF9E;
            color: black;
            outline-color: black;
            &:hover {
                background-color:black;
                color: white;
                }
            }
        }
    

    footer {
        display: flex;
        background-color: #634478;
        color: #DEE2FF;
        padding: 12px;
        text-align: center;
        font-size:small;
        font-weight:bolder;
        font-family: "Comfortaa", sans-serif;
        src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }
}

/* TABLET */

@media (min-width: 480px) and (max-width:1023px) {
    #grilla {
        display: grid;
        grid-template-areas:
          "header header header"
          ". destacado ."
          "anterior anterior anterior"
          "form form form"
          "footer footer footer";
        grid-template-rows: .8fr 8fr 4fr 2fr 0.5fr ;
        grid-template-columns: 2fr 2fr 2fr;
        height: 100vh;
        margin: 0;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
            header {
                grid-area: header;
            }
            
            aside#title {
                grid-area: titulo;
            }

            section#blogDestacado {
                grid-area: destacado;
            }

            section#blogAnterior {
                grid-area: anterior;
            }

            aside#formulario {
                grid-area: form;
            }

            footer {
                grid-area: footer;
            }
    
    }
 
        /*Estilos*/
 
    nav {
       display: grid;
       display: flex;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
       font-weight: bolder;

       .container-fluid {
            display:block;
            flex-direction: column;
            background-color:white;
            display: flex;
        } 

        .navbar-brand {
            align-self:flex-start;
            height: 20px;
            margin-left: 5%;
        }
        
        a {
            text-decoration: none;
            color: gray;
            padding: 10px;
            &:hover {
                background-color:#DEE2FF;
                color: black;
                }
        }
    }

    .blogPpal{
        display: grid;
        color:black;
        height: 480px;
        width: 1000px;
        padding: 20px;
        margin-top: 20px;
        background-image: url(https://debmedia.com/blog/wp-content/uploads/2020/02/customer-centric-1.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    }

    section {
       display: flex;
       height: auto;
       justify-content: space-evenly;
       margin-top: 50px;
       align-self: center;

       @mixin blogs ($width, $height, $padding, 
            $margin, $background-size,
            $background-repeat, $background-position,
            $border-radius) {
                width: $width;
                height: $height;
                padding: $padding;
                margin: $margin;
                background-size: $background-size;
                background-repeat: $background-repeat;
                background-position: $background-position;
                border-radius: $border-radius;            
                }
            .blog-secundario1  {
                @include blogs(300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

            .blog-secundario2  {
                @include blogs(300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

            .blog-secundario3  {
                @include blogs(300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

        .blog-secundario1 {
            background-image: url(https://www.caad-design.com/wp-content/uploads/2020/03/customer-journey-featured-image-20200310-caad-retail-design-barcelona.jpg.jpg);
        }

        .blog-secundario2 {
            background-image: url(https://www.questionpro.com/blog/wp-content/uploads/2020/08/Infografia2-customer-service-ideal.jpg);
        }

        .blog-secundario3 {
            background-image: url(https://www.questionpro.com/blog/wp-content/uploads/2020/08/Infografia2-customer-service-ideal.jpg);
        }

    }
 
    .form {
       background-color: #DEE2FF;
       text-align: center;
       font-size:small;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
       padding: 1%;
       margin: 0;
    }

        
    section {
        .mb-3 {
            display: flex;
            flex-direction: column;
            align-items:center;
            padding: .1%;
            }   
       
        .btn-primary {
            background-color:#FFFF9E;
            color: black;
            outline-color: black;
            &:hover {
                background-color:black;
                color: white;
            }
        }
    }

    footer {
       display: flex;
       background-color: #634478;
       color: #DEE2FF;
       padding: 12px;
       text-align: center;
       font-size:small;
       font-weight:bolder;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }
}

  /* MOBILE */

  @media (max-width:479px) {
    #grilla {
       display: grid;
       grid-template-areas:
         "header"
         "destacado"
         "anterior"
         "form"
         "footer";
       grid-template-rows: auto;
       grid-template-columns: auto;
       height: 100vh;
       margin: 0;
       grid-row-gap: 10px;
       grid-column-gap: 10px;

        header {
            grid-area: header;
        }

        footer {
            grid-area: footer;
        }

        section#blogDestacado {
            grid-area: destacado;
        }

        section#blogAnterior {
            grid-area: anterior;
        }

        nav {
            grid-area: nav;
        }

        aside#formulario {
            grid-area: form;
            display: flex;
        }
    }
 
    /*Estilos*/
 
    nav {
       display: grid ;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       font-family: 'Comfortaa', sans-serif;
       src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
       font-weight: bolder;
       padding: 40px;
       height: 40px;

        a {
            text-decoration: none;
            color: gray;
            padding: 10px;
        }
    }
 
    section#blogDestacado {
       display: flex;
       height: 300px;
       margin-top: 50px;        
    }
 
    .blogPpal{
        display: flex;
        display: grid;
        justify-self: center;
        width: 350px;
        padding: 10px;
        margin: 10px;
        background-image: url(https://debmedia.com/blog/wp-content/uploads/2020/02/customer-centric-1.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    }

    section#blogAnterior {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-self: center;
       margin-top: 20px;

       @mixin blogsmini ($display, $flex-direction, $flex-wrap, 
            $width, $height, $padding, 
            $margin, $background-size,
            $background-repeat, $background-position,
            $border-radius) {
                display: $display;
                flex-direction: $flex-direction;
                flex-wrap: $flex-wrap;
                width: $width;
                height: $height;
                padding: $padding;
                margin: $margin;
                background-size: $background-size;
                background-repeat: $background-repeat;
                background-position: $background-position;
                border-radius: $border-radius;            
                }

            .blog-secundario1  {
                @include blogsmini(flex, column, wrap, 300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

            .blog-secundario2  {
                @include blogsmini(flex, column, wrap, 300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

            .blog-secundario3  {
                @include blogsmini(flex, column, wrap, 300px,250px,10px,20px,cover,no-repeat,center,20px)
            }

        .blog-secundario1 {
            background-image: url(https://www.caad-design.com/wp-content/uploads/2020/03/customer-journey-featured-image-20200310-caad-retail-design-barcelona.jpg.jpg);
        }
  
        .blog-secundario2 {
            background-image: url(https://www.questionpro.com/blog/wp-content/uploads/2020/08/Infografia2-customer-service-ideal.jpg);
        }

        .blog-secundario3 {
            background-image: url(https://www.questionpro.com/blog/wp-content/uploads/2020/08/Infografia2-customer-service-ideal.jpg);
        }
    }
 
    .form {
       display: flex;
       background-color: #DEE2FF;
       text-align: center;
       font-size:smaller;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
       padding: 1%;
        
    }

    div {
        .mb-3 {
            display: flex;
            flex-direction: column;
            align-items:center;
            padding: .1%;
        }

        .btn-primary {
            background-color:#FFFF9E;
            color: black;
            outline-color: black;
            & hover {
                background-color:black;
                color: white;
            }
        }
    }
 
footer {
        display: flex;
        background-color: #634478;
        color: #DEE2FF;
        padding: 12px;
        text-align: center;
        font-size:small;
        font-weight:bolder;
        font-family: "Comfortaa", sans-serif;
        src: url(/fuentes/Comfortaa/Comfortaa.ttf);       
    }
}


/* ------PORTFOLIO------ */

/* DESKTOP */

@media (min-width: 1024px){

    #grilla-portfolio {
        display: grid;
        grid-template-areas:
          "header header header header"
          ". portada1 texto1 ."
          ". portada2 texto2 ."
          ". portada3 texto3 ."
          " footer footer footer footer" ;
        grid-template-rows: .8fr 8fr 8fr 8fr 0.5fr ;
        grid-template-columns: 2fr 4fr 6fr 2fr;
        height: 100vh;
        margin: 0;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        align-items:center;
    }
 
        header {
            grid-area: header;
        }
    
        section#branding1 {
            grid-area: portada1;
        }
    
        section#recurso1 {
            grid-area: texto1;
    
        }
    
        section#branding2 {
            grid-area: portada2;
        }
    
        section#recurso2 {
            grid-area: texto2;
    
        }
    
        section#branding3 {
            grid-area: portada3;
        }
    
        section#recurso3 {
            grid-area: texto3;
    
        }
    
        footer {
            grid-area: footer;
        }
       
    /*Estilos*/
 
        nav {
            display: grid;
            display: flex;
            font-family: 'Comfortaa', sans-serif;
            src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
            font-weight: bolder;
    
                .container-fluid {
                    display:block;
                    flex-direction: column;
                    background-color:white;
                    display: flex;          
                }
    
                .navbar-brand {
                    align-self:flex-start;
                    height: 20px;
                    margin-left: 5%;
                }
    
                a {
                    text-decoration: none;
                    color: gray;
                    padding: 10px;
                    &:hover {  
                    background-color:#DEE2FF;
                    color: black;
                    }
                
        
        
                }
            }
    
        #branding1 {
            margin-left: 10%;
        }
    
        #branding2 {
            margin-left: 10%;
        }
    
        #branding3 {
            margin-left: 10%;
        }

        @mixin recursos ($width, $height, $aling-self, 
            $padding, $display,$justify-content, $text-align,
            $font-size, $font-weight) {
                width: $width;
                height: $height;
                align-self: $aling-self;
                padding: $padding;
                display: $display;
                justify-content: $justify-content;
                text-align: $text-align;
                font-size: $font-size;
                font-weight: $font-weight;
                }

            #recurso1  {
                @include recursos(600px,400px,flex-start,50px,flex,center,justify,medium,normal);
                font-family: "Comfortaa", sans-serif;
                src: url(/fuentes/Comfortaa/Comfortaa.ttf);
            }

            #recurso2  {
                @include recursos(600px,400px,flex-start,50px,flex,center,justify,medium,normal);
                font-family: "Comfortaa", sans-serif;
                src: url(/fuentes/Comfortaa/Comfortaa.ttf);
            }

            #recurso3  {
                @include recursos(600px,400px,flex-start,50px,flex,center,justify,medium,normal);
                font-family: "Comfortaa", sans-serif;
                src: url(/fuentes/Comfortaa/Comfortaa.ttf);
            }

        @mixin portfolios ($width, $height,$padding, 
            $margin, $background-size, $background-repeat,
            $background-position, $border-radius) {
                width: $width;
                height: $height;
                padding: $padding;
                margin: $margin;
                background-size: $background-size;
                background-repeat: $background-repeat;
                background-position: $background-position;
                border-radius: $border-radius;
                }
                
        .portfolio1  {
                    @include portfolios(300px,450px,10px,10px,cover,no-repeat,center,10px);
                    background-image: url(../../imagenes/portfolio1.png);
                    }
    
        .portfolio2 {
                     @include portfolios(300px,450px,10px,10px,cover,no-repeat,center,10px);
                    background-image: url(../../imagenes/portfolio2.png);
                    }
    
        .portfolio3 {
                     @include portfolios(300px,450px,10px,10px,cover,no-repeat,center,10px);
                    background-image: url(../../imagenes/portfolio3.png);
                    }
    
        #button {
            margin-top: 20%;
            margin-left: 40%;
            background-color: #993bd7;
        }
        
        footer {
            display: flex;
            background-color: #634478;
            color: #DEE2FF;
            padding: 12px;
            text-align: center;
            font-size:small;
            font-weight:bolder;
            font-family: "Comfortaa", sans-serif;
            src: url(/fuentes/Comfortaa/Comfortaa.ttf);
        }
}
 
 /* TABLET */
 
 @media (min-width: 480px) and (max-width:1023px) {
 
    #grilla-portfolio {
       display: grid;
       grid-template-areas:
          "header header header header"
          ". portada1 texto1 ."
          ". portada2 texto2 ."
          ". portada3 texto3 ."
          " footer footer footer footer" ;
       grid-template-rows: .8fr 8fr 8fr 8fr 0.5fr ;
       grid-template-columns: 2fr 4fr 6fr 2fr;
       height: 100vh;
       margin: 0;
       grid-row-gap: 5px;
       grid-column-gap: 5px;
       align-items: center ;
    }
 
    header {
       grid-area: header;
    }
 
    section#branding1 {
       grid-area: portada1;
    }
 
    section#recurso1 {
       grid-area: texto1;
 
    }
 
    section#branding2 {
       grid-area: portada2;
    }
 
    section#recurso2 {
       grid-area: texto2;
 
    }
 
    section#branding3 {
       grid-area: portada3;
    }
 
    section#recurso3 {
       grid-area: texto3;
 
    }
 
    footer {
       grid-area: footer;
    }
       
    /*Estilos*/
 
    nav {
        display: grid;
        display: flex;
        font-family: 'Comfortaa', sans-serif;
        src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
        font-weight: bolder;

            .container-fluid {
                display:block;
                flex-direction: column;
                background-color:white;
                display: flex;          
            }

            .navbar-brand {
                align-self:flex-start;
                height: 20px;
                margin-left: 5%;
            }

            a {
                text-decoration: none;
                color: gray;
                padding: 10px;
                &:hover {  
                background-color:#DEE2FF;
                color: black;
                }
            }
        }
 
    #branding1 {
       margin-left: 10%;
    }
 
    #branding2 {
       margin-left: 10%;
    }
 
    #branding3 {
       margin-left: 10%;
    }

    @mixin recursos ($width, $height, $aling-self, 
    $padding, $display,$justify-content, $text-align,
    $font-size, $font-weight) {
        width: $width;
        height: $height;
        align-self: $aling-self;
        padding: $padding;
        display: $display;
        justify-content: $justify-content;
        text-align: $text-align;
        font-size: $font-size;
        font-weight: $font-weight;
        }

    #recurso1  {
        @include recursos(600px,400px,flex-start,50px,flex,center,justify,medium,normal);
        font-family: "Comfortaa", sans-serif;
        src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }

    #recurso2  {
        @include recursos(600px,400px,flex-start,50px,flex,center,justify,medium,normal);
        font-family: "Comfortaa", sans-serif;
        src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }

    #recurso3  {
        @include recursos(600px,400px,flex-start,50px,flex,center,justify,medium,normal);
        font-family: "Comfortaa", sans-serif;
        src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }


    @mixin portfolios ($width, $height,$padding, 
    $margin, $background-size, $background-repeat,
    $background-position, $border-radius) {
        width: $width;
        height: $height;
        padding: $padding;
        margin: $margin;
        background-size: $background-size;
        background-repeat: $background-repeat;
        background-position: $background-position;
        border-radius: $border-radius;
        }
        
    .portfolio1  {
                @include portfolios(300px,450px,10px,10px,cover,no-repeat,center,10px);
                    background-image: url(/imagenes/portfolio1.png);
                }

    .portfolio2 {
                @include portfolios(300px,450px,10px,10px,cover,no-repeat,center,10px);
                    background-image: url(/imagenes/portfolio2.png);
                }

    .portfolio3 {
                @include portfolios(300px,450px,10px,10px,cover,no-repeat,center,10px);
                    background-image: url(/imagenes/portfolio3.png);
                }
 
    #button {
       margin-top: 20%;
       margin-left: 40%;
       background-color: #993bd7;
    }
     
    footer {
       display: flex;
       background-color: #634478;
       color: #DEE2FF;
       padding: 12px;
       text-align: center;
       font-size:small;
       font-weight:bolder;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }
 }
 
 /* MOBILE */
 
 @media (max-width:479px) {
 
    #grilla-portfolio {
       display: grid;
       grid-template-areas:
          "header"
          "portada1"
          "texto1"
          "portada2"
          "texto2"
          "portada3"
          "texto3"
          " footer" ;
       grid-template-rows: 2fr 4fr 4fr 4fr 4fr 4fr 4fr 0.5fr;
       grid-template-columns:auto;
       height: 100vh;
       margin: 0;
       grid-row-gap: 5px;
       grid-column-gap: 5px;
       align-items: center ;
    }
 
    header {
       grid-area: header;
    }
 
    section#branding1 {
       grid-area: portada1;
    }
 
    section#recurso1 {
       grid-area: texto1;
 
    }
 
    section#branding2 {
       grid-area: portada2;
    }
 
    section#recurso2 {
       grid-area: texto2;
 
    }
 
    section#branding3 {
       grid-area: portada3;
    }
 
    section#recurso3 {
       grid-area: texto3;
 
    }
 
    footer {
       grid-area: footer;
    }
       
    /*Estilos*/
 
    nav {
        display: grid;
        display: flex;
        font-family: 'Comfortaa', sans-serif;
        src: url(fuentes/Comfortaa/static/Comfortaa-Bold.ttf);
        font-weight: bolder;

            .container-fluid {
                display:block;
                flex-direction: column;
                background-color:white;
                display: flex;          
            }

            .navbar-brand {
                align-self:flex-start;
                height: 20px;
                margin-left: 5%;
            }

            a {
                text-decoration: none;
                color: gray;
                padding: 10px;
                &:hover {  
                background-color:#DEE2FF;
                color: black;
                }
            }
        }
 
    #branding1 {
       margin-top: 10%;
       justify-content: center;
       margin-left: 3%;
    }
 
    #branding2 {
       justify-content: center;
       margin-left: 3%;
    }
 
    #branding3 {
       justify-content: center;
       margin-left: 3%;
    }

    @mixin recursos ($width, $height, $aling-self, 
            $padding, $display,$justify-content, $text-align,
            $font-size, $font-weight) {
                width: $width;
                height: $height;
                align-self: $aling-self;
                padding: $padding;
                display: $display;
                justify-content: $justify-content;
                text-align: $text-align;
                font-size: $font-size;
                font-weight: $font-weight;
                }

            #recurso1  {
                @include recursos(370px,250px,flex-start,10px,flex,center,justify,small,normal);
                margin: 5%;  
                font-family: "Comfortaa", sans-serif;
                src: url(/fuentes/Comfortaa/Comfortaa.ttf);
            }

            #recurso2  {
                @include recursos(370px,250px,flex-start,10px,flex,center,justify,small,normal);
                margin: 5%;  
                font-family: "Comfortaa", sans-serif;
                src: url(/fuentes/Comfortaa/Comfortaa.ttf);
            }

            #recurso3  {
                @include recursos(370px,250px,flex-start,10px,flex,center,justify,small,normal);
                margin: 5%;  
                font-family: "Comfortaa", sans-serif;
                src: url(/fuentes/Comfortaa/Comfortaa.ttf);
                margin-bottom: 10%;
            }

    @mixin portfolios ($width, $height,$padding, 
            $margin, $background-size, $background-repeat,
            $background-position, $border-radius) {
                width: $width;
                height: $height;
                padding: $padding;
                margin: $margin;
                background-size: $background-size;
                background-repeat: $background-repeat;
                background-position: $background-position;
                border-radius: $border-radius;
                }
                
            .portfolio1  {
                        @include portfolios(350px,230px,10px,10px,cover,no-repeat,center,10px);
                            background-image: url(/imagenes/portfolio1.png);
                            margin-top: 10%;
                        }
            
            .portfolio2  {
                        @include portfolios(350px,230px,10px,10px,cover,no-repeat,center,10px);
                            background-image: url(/imagenes/portfolio2.png);
                        }
            .portfolio2  {
                        @include portfolios(350px,230px,10px,10px,cover,no-repeat,center,10px);
                            background-image: url(/imagenes/portfolio3.png);
                        }
 
    #button {
       margin-top: 10%;
       width: 350px;
       background-color: #993bd7;
       text-align: center;
       align-self: center;
       justify-self: center;
       
    }
     
    footer {
       display: flex;
       background-color: #634478;
       color: #DEE2FF;
       padding: 12px;
       text-align: center;
       font-size:small;
       font-weight:bolder;
       font-family: "Comfortaa", sans-serif;
       src: url(/fuentes/Comfortaa/Comfortaa.ttf);
    }
 }

 /* ------PORTFOLIO 1------ */

/* DESKTOP */

@media (min-width: 1024px){

    .docu1 {
       background-image: url(../../imagenes/docu_portfolio1.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height:3000px;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 /* TABLET */
 
 @media (min-width: 480px) and (max-width:1023px) {
 
    .docu1 {
       background-image: url(../../imagenes/docu_portfolio1.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 2000px;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 
    /* MOBILE */
 
 @media (max-width:479px) {
    
    .docu1 {
       margin-top: 10%;
       background-image: url(../../imagenes/docu_portfolio1.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 1000px;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }

 /* ------PORTFOLIO 2------ */

/* DESKTOP */

@media (min-width: 1024px){

    .docu2 {
       background-image: url(../../imagenes/docu_portfolio2.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 20600px;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 /* TABLET */
 
 @media (min-width: 480px) and (max-width:1023px) {
    
    .docu2 {
       background-image: url(../../imagenes/docu_portfolio2.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 10600px;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 /* MOBILE */
 
 @media (max-width:479px) {
 
    .docu2 {
       margin-top: 10%;
       background-image: url(../../imagenes/docu_portfolio2.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 5600px;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 /* ------PORTFOLIO 3------ */
 
 /* DESKTOP */
 
 @media (min-width: 1024px){
 
    .docu3 {
       background-image: url(../../imagenes/docu_portfolio3.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 30600px;;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 /* TABLET */
 
 @media (min-width: 480px) and (max-width:1023px) {
    
    .docu3 {
       background-image: url(../../imagenes/portfolio3.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 20600px;;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 /* MOBILE */
 
 @media (max-width:479px) {
 
    .docu3 {
       margin-top: 10%;
       background-image: url(../../imagenes/docu_portfolio3.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size:contain;
       background-color: none;
       height: 10600px;;
       justify-content: center;
       justify-items: center;
       justify-self: center;
       display: flex;
    }
 }
 
 
 
 
 